# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
ios/
android/

# Env
.env
.env*.local

# Metro
.metro-health-check*

# macOS
.DS_Store
*.pem

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# typescript
*.tsbuildinfo
